:root{

}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
}
main{margin-top: 102px; padding-bottom: 120px;}
.container{max-width: 1200px;}

// ---------- header --------- //
.navbar{
  width: 100vw;
  align-items: flex-start;
  padding: 30px 40px 15px 45px;
  position: fixed;
  top: 0;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    width: 20px; height: 20px;
  
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .brand img{transition: .5s;}
  img{max-width: 100%;}
  &.scroll{
    background: #fff;
    padding: 20px 40px 10px 45px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
}
.navbar-collapse{justify-content: flex-end;}
.navbar-nav{
  > li{margin: 0 22px; padding: 10px 0; position: relative;}
  > li > a{
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #B2B2B2;
    letter-spacing: 0.25px;
    position: relative;
  }
  > li > a:hover{color: #F2B41B;}
  > li > a.active{
    color: #B3B3B3;
  }
  > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  span{position: relative; z-index: 2;}
  .show-menu{display: none;}
  .sub-menu{
    width: 202px;
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    transform: translateY(10px);
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    li{
      padding: 12px 0; border-bottom: 1px solid #e6e6e6;
      background: #fff; position: relative;
    }
    li:last-child{border-bottom: none;}
    li a{padding: 0 15px; font-weight: 500; color: #808080;}
    li a:hover{color: #111;}
    &:before{
      content: "";
      width: 20px; height: 20px; background: #fff;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      position: absolute; left: 15px; top: -10px;
      transform: rotate(45deg);
    }
  }
}
h1{margin: 0; display: inline-block;}

.intro{
  .wrap_img{
    padding-top: 50px;
    animation-delay: .5s;
    img{display: block; margin: 0 auto;}
  }
  .btn-view-more{
    width: 371px; height: 80px;
    margin-top: 72px;
    background: #000; font-size: 24px; font-weight: 700;
    text-transform: capitalize; color: #fff;
    animation-delay: .3s;
    position: relative;
    overflow: hidden;
    span{position: relative; z-index: 9;}
    &:after{
      content: "";
      width: 100%; height: 100%;
      background: #F2B41B;
      transition: all 0.25s linear 0s;
      transform:  rotate(45deg) scale(1);
      position: absolute; top: 0; left: 0;
      opacity: 0;
    }
    &:hover{color: #000;}
    &:hover:after{
      transform: rotate(45deg) scale(6);
      opacity: 1;
    }
  }
}
.text{
  h2.title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 34px;
    font-size: 50px;
    line-height: 76px;
    font-weight: 700;
  }
  h2.title:before{
    content: "";
    display: block;
    width: 15px;
    height: 100px;
    margin-right: 12px;
    background: #F2B41B;
  }
  p{margin-bottom: 10px; padding-right: 15px; font-size: 18px; line-height: 25px;}
  p:nth-child(3){animation-delay: 1s;}
  p:nth-child(4){animation-delay: 1.5s;}
  p:nth-child(5){animation-delay: 2s;}
}
.wrap_img{
  img{display: block;}
}
.bg-yellow{
  margin-top: 41px;
  padding: 50px 0 170px;
  background: url("#{$img-path}/playcurio/bg-gradient.png") no-repeat 0 0/100% 100%;
}
.digram{
  max-width: 970px; margin: 0 auto 210px;
  h4{padding-left: 24px; margin-bottom: 20px; font-size: 22px; line-height: 29px; font-weight: 700;}
  h3{padding: 0 27px; font-size: 24px; line-height: 31px; text-align: center; color: #F68121; font-weight: 700;}
  p{margin-bottom: 0; font-weight: 500; font-size: 16px; line-height: 21px;}
  p:before{
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    float: left;
    margin: 9px 10px 0 0;
    background: #040404;
    border-radius: 50%;
  }
  li:nth-child(2){
    display: flex; align-items: center;
    padding: 0 18px 0 10px;
    &:after,&:before{
      content: "";
      width: 74px; height: 112px; display: block;
      background: url(#{$img-path}/playcurio/arrow.png) no-repeat 0 0/contain;
    }
    &:after{transform: rotate(180deg);}
  }
}  
.curio_card{
  max-width: 1190px;
  margin: 0 auto;
  h4{margin-bottom: 15px; font-size: 50px; line-height: 65px; font-weight: 700;}
  li{font-size: 18px; line-height: 22px; list-style: disc;}
  .des{font-weight: 500; font-size: 18px; line-height: 22px;}
  .col-left{width: 406px;}
  .col-right{width: 580px; padding-left: 110px; animation-delay: .4s;}
  .wrap_img{
    .img1{margin-bottom: 20px;}
    img{display: block; margin: 0 auto;}
  }
  .wrap_btn{
    justify-content: center;
    margin-top: 15px;
    > *+*{margin-left: 30px;}
    .btn-comingsoon{
      width: 366px;
      height: 79px;
      border: none;
      font-size: 24px;
      font-weight: 700;
      background: #fff;
      line-height: 79px;
      color: #000;
      &:after{background: #fff;}
      &:hover{color: #000;}
    }
    a{
      width: 170px; height: 65px; display: block;
      background: #000;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 65px;
      overflow: hidden;
      color: #fff;
      position: relative;
    }
    a:after{
      content: "";
      width: 0; height: 100%;
      background: #fff;
      position: absolute; top: 0; left: 0;
      transition: width .3s ease-in-out;
    }
    a:hover{color: #000;}
    a:hover:after{width: 100%;}
    a span{position: relative; z-index: 2;}
  }
  ul{
    padding-left: 45px;
    >*+*{margin-top: 22px;}
  }
  &.dictionary{
    .col-right{padding-top: 120px;}
  }
  &.phonics{
    flex-direction: row-reverse;
    margin: 45px auto;
    .col-right{padding: 130px 110px 0 0; margin-right: 105px;}
  }
  &.worldmap{
    .col-right{padding-top: 150px;}
  }
}
.dictionary{
  .wrap_img img{display: block; margin: 0 auto;}
  .box-btn{
    margin-top: 73px;
    justify-content: center;
    a{width: 268px; height: 77px; display: block; margin: 0 16px; text-indent: -9999em;}
    .btn_googleplay{background: url("#{$img-path}/playcurio/google_play.png") no-repeat 0 0/contain;}
    .btn_appstore{background: url("#{$img-path}/playcurio/app_store.png") no-repeat 0 0/contain;}
  }
}



.btn-register{
  width: 371px; height: 80px; background: #fff;
  border: none;
  color: #000; font-size: 24px; line-height: 31px;
  font-weight: 700; border-radius: 0;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}
.btn{
  padding: 0;
}


.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
img{max-width: 100%;}

.modal-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0; left: 0;
  background: rgba(#000,.8);
  z-index: 90;
  &.is-open{display: block;}
}

// ---------- footer --------- //
footer{
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  .social{
    li{margin: 0 15px;}
    i{color: #b3b3b3; font-size: 24px; transition: .3s;}
    li:hover i{color: #333;}
  }
  .logo{
    line-height: initial;
    a{display: block;}
    img{opacity: .1; transition: .5s;}
  }
  .logo:hover img{opacity: .5;}
  .inner{padding: 36px 0; justify-content: space-between; align-items: center;}
  .copyright{margin-bottom: 0; font-size: 18px; color: v(black);}
}

//responsive
@media (max-width: 1440px){

}
@media (max-width: 1023px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 24px;
    padding: 0; position: absolute;
    top: 15px;
    right: 12px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 3px;
      background: #111; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 3px; background: #111; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{right: 0;}
    }
  }
  .navbar-collapse{
    width: calc(100% - 70px);
    max-width: 400px;
    height: 100%;
    display: block;
    background: #fff;
    position: fixed; right: calc(70px - 100%); top: 0;
    transition: right .3s linear;
    z-index: 999;
    ul{height: 100%; overflow: auto;}

  }
  .navbar-nav{
    padding: 40px 0 0 30px;
    > li{padding: 12px 0;}
    > li > a{font-size: 22px;}
    > li > a.active{color: #111;}
    > li.active{
      a{color: #111;}
      .sub-menu{display: block;}
      .show-menu{transform: rotate(180deg); top: 14px;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: block; position: absolute; right: 0; top: 6px;
      transition: .4s;
      i{font-size: 24px; color: #b3b3b3;}
    }
    .sub-menu{
      display: none;
      padding: 0 10px;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      li:last-child{padding-bottom: 0;}
      li a{padding: 0;}
      &:before{display: none;}
    }
  }
  main{
    margin-top: 52px;
    padding-bottom: 100px;
  }
  .text{
    margin-top: 60px;
    p{padding-right: 0; font-size: 14px;}
    h2.title{margin-bottom: 20px; font-size: 18px; line-height: 23px;}
    h2.title:before{
      width: 8px; height: 40px; margin-right: 8px;
    }
  }
  .intro{
    .row{flex-direction: column-reverse;}
    .wrap_img{
      padding: 20px 15px 0;
      animation-delay: 0s;
      .img1{max-width: 147px;}
    }
    .btn-view-more{
      width: 163px; height: 36px; margin: 20px auto 0; font-size: 14px;
    }
  }
  .bg-yellow{
    margin-top: 0;
    padding: 30px 0 0;
    background: none;
    /*background: url("#{$img-path}/playcurio/bg-gradient-m.png") no-repeat 0 335px/100%;*/
  }
  .curio{
    padding-bottom: 170px;
    background: url("#{$img-path}/playcurio/bg-gradient-m.png") no-repeat 0 0/100% 100%;
  }
  .digram{
    padding: 0 15px;
    margin-bottom: 30px;
    h4{padding-left: 8px; margin-bottom: 5px; font-size: 13px; line-height: 17px;}
    h3{
      width: calc(100% - 56px);
      padding: 0 10px; font-size: 14px; line-height: 18px;
    }
    p{display: flex; font-size: 9px; line-height: 12px;}
    p:before{width: 3px; height: 3px; float: none; margin: 3px 5px 0 0;}
    li{width: 22%;}
    li:nth-child(2){
      width: 56%;
      padding: 0 12px;
      align-items: flex-start;
      &:before,&:after{
        width: 28px; height: 42px;
      }
    }
  }
  .curio_card{
    .col-left{max-width: 406px; width: 70%; margin: 0 auto;}
    .col-right{padding: 0 15px; margin: 0 auto;}
    .wrap_img{}
    .wrap_btn{
      flex-direction: column;
      align-items: center;
      a{width: 164px; height: 63px; position: relative;}
      .btn-comingsoon{width: 164px; height: 63px; font-size: 20px; line-height: 62px;}
      >*+*{margin: 10px 0 0;}
    }
    ul{
      padding-left: 13px;
      >*+*{margin-top: 18px;}
    }
    h4{font-size: 18px; line-height: 23px;}
    .des,li{font-size: 14px; line-height: 22px;}
    .des{margin-bottom: 5px;}
    &.dictionary{
      .col-right{padding-top: 30px;}
    }
    &.phonics{
      margin: 50px 0;
      .col-right{padding: 30px 15px 0; margin-right: auto;}
    }
    &.worldmap{
      .col-right{padding-top: 30px;}
    }
  }
  .dictionary{
    padding-top: 30px;
    .box-btn{
      margin-top: 50px;
      a{width: 150px; height: 43px; margin: 0 5px;}
    }
  }

  footer{
    .inner{padding: 15px 0; justify-content: space-around;}
    .social{margin: 15px 0;}
  }
}




@media (min-width: 767px) and (max-width: 1200px) {
  .text{margin-top: 20px;}
  .intro{
    .row{flex-direction: row;}
    .btn-view-more{margin: 20px 0 0;}
  }
  .digram{ 
    h4{font-size: 16px;}
    p{margin-bottom: 5px; font-size: 12px;}
    li{width: 30%;}
    li:nth-child(2){width: 40%;}
  }
  .curio_card{
    .wrap_btn{
      flex-direction: row;
      >*+*{margin: 0 0 0 10px;}
    }
  }
  .dictionary{
    .box-btn{
      a{width: 220px; height: 63px; margin: 0 10px;}
    }
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .digram{
    h4{font-size: 20px;}
    p{font-size: 15px;}
    li{width: 25%;}
    li:nth-child(2){width: 50%;}
  }
  .curio_card{
    .col-left{width: 40%;}
    .col-right{width: 60%;}
    &.phonics{
      margin: 20px 0;
      .col-right{padding: 130px 50px 0 90px; margin-right: auto;}
    }
  }
}



//animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@-webkit-keyframes opacity {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}

@-webkit-keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}
@keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}