:root{
  --orange: #ffb840;
  --black: #1a1a1a;
  --greyish: #b3b3b3;
  --gray: #808080;
}
@mixin btn_ef{
  background: #000; font-size: 24px; font-weight: 700;
  text-transform: capitalize; color: #fff;
  animation-delay: .3s;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}
body{
  width: 100%;
  background: #fff url("#{$img-path}/summer/bg-summer.png") no-repeat 50% -20px;
  background-size: 100% 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
}
main{margin-top: 102px; padding-bottom: 120px;}
.container{max-width: 1200px;}
img{max-width: 100%;}
a:hover,a:focus{outline: none;}
// ---------- header --------- //
.navbar{
  width: 100vw;
  background: #fff;
  align-items: flex-start;
  padding: 30px 40px 15px 45px;
  position: fixed;
  top: 0;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    width: 20px; height: 20px;
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
  .brand img{transition: .5s;}
  img{max-width: 100%;}
  &.scroll{
    background: #fff;
    padding: 20px 40px 10px 45px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
}
.navbar-collapse{justify-content: flex-end;}
.navbar-nav{
  > li{margin: 0 22px; padding: 10px 0; position: relative;}
  > li > a{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #B2B2B2;
    letter-spacing: 0.25px;
    position: relative;
  }
  > li > a:hover{color: #F2B41B;}
  > li > a.active{
    color: #B3B3B3;
  }
  > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  span{position: relative; z-index: 2;}
  .show-menu{display: none;}
  .sub-menu{
    width: 202px;
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    transform: translateY(10px);
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    li{
      padding: 12px 0; border-bottom: 1px solid #e6e6e6;
      background: #fff; position: relative;
    }
    li:last-child{border-bottom: none;}
    li a{display: block; padding: 0 15px; font-weight: 500; color: #808080;}
    li a:hover{color: #111;}
    &:before{
      content: "";
      width: 20px; height: 20px; background: #fff;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      position: absolute; left: 15px; top: -10px;
      transform: rotate(45deg);
    }
  }
}
h1{margin: 0; display: inline-block;}
.summer_leader{
  h4{
    margin-bottom: 25px;
    align-items: center;
    font-size: 35px; line-height: 36px; font-weight: 700;
    span{flex: 1;}
    &::before{
      content: "";
      width: 10px; height: 80px;
      background: #F2B41B;
      display: block;
      margin-right: 15px;
    }
  }
  p{font-size: 18px; line-height: 25px; animation-delay: .3s;}
  .btn-view-more{
    @include btn_ef;
    width: 170px; height: 50px;
    margin-top: 30px; animation-delay: .6s;
  }
}
.intro{
  margin-top: 162px;
  .video{
    width: 100%; height: 433px;
    background: #C4C4C4;
    border-radius: 16px; overflow: hidden;
    iframe{width: 100%; height: 100%;}
  }
}
.philosophy{
  margin-top: 85px;
  &__list{
    margin-top: 25px;
    .item{width: 100%; height: 455px; background: #FFFFFF; box-shadow: 4px 4px 7px 5px rgba(0, 0, 0, 0.07); border-radius: 15px;}
  }
  .cloud{
    &__item{
      &--1{width: 129px; height: 85px; background: url("#{$img-path}/summer/cloud1.png") no-repeat 0 0/contain; top: -126px; left: -60px;}
      &--2{width: 110px; height: 72px; background: url("#{$img-path}/summer/cloud3.png") no-repeat 0 0/contain; left: 22px; bottom: -155px;}
      &--3{width: 96px; height: 95px; background: url("#{$img-path}/summer/cloud2.png") no-repeat 0 0/contain; right: -45px; top: -20px;}
      &--4{width: 114px; height: 70px; background: url("#{$img-path}/summer/cloud4.png") no-repeat 0 0/contain; right: -40px; bottom: -32px;}
    }
  }
}
.differences{
  margin-top: 304px;
  .row{justify-content: center;}
  .col-lg-4{margin-bottom: 45px;}
  >*{text-align: center;}
  h4{margin: 25px 0 0; font-size: 30px; line-height: 39px; font-weight: 700;}
  p{white-space: pre-line; font-weight: 500; font-size: 15px; line-height: 25px; color: #808080;}
}
.location{
  margin-top: 15px;
  &__slider{
    max-width: 970px;
    margin: 100px auto 0;
  }
  .slick-dots{margin-top: 75px;}
  .cloud{
    &__item{
      &--1{width: 183px; height: 183px; background: url("#{$img-path}/summer/cloud5.png") no-repeat 0 0/contain; bottom: 190px; left: -23px;}
      &--2{width: 98px; height: 97px; background: url("#{$img-path}/summer/cloud6.png") no-repeat 0 0/contain; right: -50px; top: 205px;}
      &--3{width: 157px; height: 124px; background: url("#{$img-path}/summer/cloud7.png") no-repeat 0 0/contain; right: 25px; bottom: -70px;}
    }
  }
}
.testimonials{
  margin-top: 60px;
  h2.title{margin-bottom: 25px;}
  &__slider{ margin: 0 auto;}
  .slick-slide{
    padding: 0 15px;
    a{display: block; overflow: hidden;}
    img{display: block; height: 360px; width: 100%; object-fit: cover; transition: all 1s ease;}
    &:hover img{transform: scale(1.1);}
  }
  .slick-dots{margin-top: 95px;}
  .cloud{
    &__item{
      &--1{width: 139px; height: 91px; background: url("#{$img-path}/summer/cloud8.png") no-repeat 0 0/contain; left: -75px; top: 162px;}
      &--2{width: 149px; height: 92px; background: url("#{$img-path}/summer/cloud9.png") no-repeat 0 0/contain; left: 110px; bottom: -25px;}
      &--3{width: 96px; height: 95px; background: url("#{$img-path}/summer/cloud2.png") no-repeat 0 0/contain; right: 135px; bottom: -100px;}
    }
  }
}
.offers{
  margin-top: 255px;
  &__img{width: 100%; max-width: 770px; margin: 0 auto; background: #C4C4C4; border-radius: 15px; overflow: hidden;}
}
.register{
  padding-top: 90px;
  h4{display: block; margin-bottom: 15px; text-align: center; font-weight: 700; font-size: 35px; line-height: 45px;}
  form{
    padding: 47px 100px 50px;
    background: #FADE98;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.17);
    border-radius: 23px;
  }
  .form-row{
    label{color: rgba(0, 0, 0, 0.5); font-size: 20px; font-weight: 500; line-height: 25px;}
    .form-group{}
  }
  .form-group{
    width: 100%;
    padding: 25px 15px 0;
    margin-bottom: 5px;
    position: relative;
    label{
      left: 15px;
    }
    select{height: 36px !important;}
  }
  .form-control{height: 32px;}
  .form-control{background-image: linear-gradient(0deg,#ffb840 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);}
  .box-radio{
    margin-top: 35px;
    label{margin-right: 55px; font-weight: 500; font-size: 28px; line-height: 25px;}
  }
  .radio-checkbox{
    margin-left: 30px;
    position: relative;
    label{display: flex; margin-right: 0; font-size: 24px;}
    input{opacity: 0; position: absolute; top: 0; left: 0;}
    .checked{
      width: 24px; height: 24px; border: 2px solid #000000;
      background: #fff;
      display: block; margin-right: 7px;
      border-radius: 50%;
      position: relative;
      &::after{
        content: "";
        width: 12px; height: 12px;
        background: var(--orange);
        border-radius: 50%;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        opacity: 0;
      }
    }
    input:checked + .checked:after{opacity: 1;}
  }
  .btn_submit{
    width: 170px; height: 58px;
    margin: 30px auto 0;
    background: #000;
    border: none;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700; color: #fff;
    transition: all .25s ease;
    cursor: pointer;
    &:hover{background: var(--orange);}
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
  input[type=number] {
    -moz-appearance: textfield;
  }
  input:-webkit-autofill {
    background: transparent;
  }
}

.cloud{
  &__item{position: absolute; z-index: -1;}
}

//uikit
.container{position: relative;}
.btn-register{
  width: 371px; height: 80px; background: #fff;
  border: none;
  color: #000; font-size: 24px; line-height: 31px;
  font-weight: 700; border-radius: 0;
  position: relative;
  overflow: hidden;
  span{position: relative; z-index: 9;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: #F2B41B;
    transition: all 0.25s linear 0s;
    transform:  rotate(45deg) scale(1);
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
  &:hover{color: #000;}
  &:hover:after{
    transform: rotate(45deg) scale(6);
    opacity: 1;
  }
}
.btn{
  padding: 0;
}
h2.title{
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  color: #000;
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  align-items: center;
  text-transform: capitalize;
  &::before{
    content: "";
    width: 55px; height: 72px;
    display: block; margin: 0 14px 0 0;
    background: url("#{$img-path}/summer/logont.png") no-repeat 0 0/contain;
  }
}
p.des{font-size: 18px; line-height: 30px;}
.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  >*+*{margin-left: 10px;}
  button{
    width: 15px; height: 15px;
    padding: 0; box-sizing: border-box;
    border-radius: 100%; text-indent: -9999em; border: none;
    background: #494848;
    transition: all .25s ease;
  }
  .slick-active button{width: 140px; border-radius: 9999px; background: linear-gradient(90deg, #C4C4C4 26.5%, #484848 65.45%);}
}
.slick-arrow{
  width: 28px; height: 75px; background: url("#{$img-path}/summer/next.png") no-repeat 0 0/contain; top: calc(50% - 60px);
  text-indent: -9999em; border: none;
  position: absolute; transform: translateY(-50%);
  cursor: pointer; z-index: 2;
  &:focus{outline: none;}
}
.slick-next{right: 25px;}
.slick-prev{left: 25px; transform: translateY(-50%) rotate(180deg);}


.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
img{max-width: 100%;}

.modal-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0; left: 0;
  background: rgba(#000,.8);
  z-index: 90;
  &.is-open{display: block;}
}

// ---------- footer --------- //
footer{
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  .social{
    li{margin: 0 15px;}
    i{color: #b3b3b3; font-size: 24px; transition: .3s;}
    li:hover i{color: #333;}
  }
  .logo{
    line-height: initial;
    a{display: block;}
    img{opacity: .1; transition: .5s;}
  }
  .logo:hover img{opacity: .5;}
  .inner{padding: 36px 0; justify-content: space-between; align-items: center;}
  .copyright{max-width: 40%; margin-bottom: 0; font-size: 18px; color: v(black);}
}

//responsive
@media (max-width: 1440px){
  body{
    background: #fff url("#{$img-path}/summer/bg-summer.png") no-repeat 50% 0;
    background-size: inherit;
  }
}
@media (max-width: 1023px){
  @function wp($target) {
    $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 24px;
    padding: 0; position: absolute;
    top: 15px;
    right: 12px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 3px;
      background: #111; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 3px; background: #111; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{right: 0;}
    }
  }
  .navbar-collapse{
    width: calc(100% - 70px);
    max-width: 400px;
    height: 100%;
    display: block;
    background: #fff;
    position: fixed; right: calc(70px - 100%); top: 0;
    transition: right .3s linear;
    z-index: 999;
    ul{height: 100%; overflow: auto;}

  }
  .navbar-nav{
    padding: 40px 0 0 30px;
    > li{padding: 12px 0;}
    > li > a{font-size: 22px;}
    > li > a.active{color: #111;}
    > li.active{
      a{color: #111;}
      .sub-menu{display: block; transform: translateY(0);}
      .show-menu{transform: rotate(180deg); top: 14px;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: block; position: absolute; right: 0; top: 6px;
      transition: .4s;
      i{font-size: 24px; color: #b3b3b3;}
    }
    .sub-menu{
      display: none;
      padding: 0 10px;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      li:last-child{padding-bottom: 0;}
      li a{padding: 0;}
      &:before{display: none;}
    }
  }
  main{margin-top: 52px; padding-bottom: 100px;}
  .intro{
    margin-top: 100px;
    .video{height: 100%;}
  }
  .summer_leader{
    h4{font-size: 26px;}
    h4::before{width: 6px; height: 70px; margin-right: 10px;}
    p{font-size: 16px;}
    .btn-view-more{width: 150px; height: 45px; font-size: 20px;}
  }
  .philosophy{
    &__list{
      .item{height: auto;}
    }
  }
  .differences{
    .col-lg-4{padding: 0 6px;}
    h4{font-size: 24px; line-height: 34px;}
    p{font-size: 12px; line-height: 20px;}
  }
  .testimonials{
    .slick-slide img{height: 300px;}
  }
  .register{
    padding-top: 50px;
    form{padding: 30px 15px;}
    h4{font-size: 24px; line-height: 30px;}
    .form-row{
      label{font-size: 18px;}
    }
    .form-group{
      padding: 25px 5px 0;
      label{left: 5px;}
    }
    .box-radio{
      margin-top: 10px;
      label{margin-right: 0; font-size: 20px;}
    }
    .radio-checkbox{
      margin: 0 15px;
      label{font-size: 18px;}
    }
    .btn_submit{
      height: 45px; width: 160px; font-size: 22px;
    }
  }

  footer{
    .inner{padding: 15px 0; justify-content: space-around;}
    .social{margin: 15px 0;}
    .copyright{max-width: 100%;}
  }

  //uikit
  h2.title{
    margin-bottom: 20px;
    font-size: 34px;
    &::before{width: 45px; height: 59px; margin-right: 10px;}
  }
  .slick-dots{
    margin-top: 50px;
    .slick-active button{width: 80px;}
  }
  .slick-arrow{
    width: 20px; height: 54px; top: calc(50% - 35px);
  }
  .slick-next{right: 15px;}
  .slick-prev{left: 15px;}
}

@media (max-width: 767px){
  .intro{
    margin-top: 80px;
    .video{height: 260px;}
  }
  .summer_leader{
    margin-bottom: 30px;
    h4{max-width: 75%; margin-bottom: 15px;}
    .btn-view-more{margin-top: 20px;}
  }
  .philosophy{
    margin-top: 55px;
    .col-lg-4{margin-bottom: 30px;}
  }
  .differences{
    margin-top: 50px;
    .col-lg-4{margin-bottom: 15px;}
    .icon{max-width: 50%; margin: 0 auto;}
    h4{margin-top: 15px; font-size: 22px;}
    p{font-size: 10px; line-height: 18px;}
    .col-7 .icon{max-width: 37%;}
  }
  .location{
    &__slider{margin-top: 50px;}
    .slick-dots{margin-top: 45px;}
    .cloud{
      &__item{
        &--1{width: vwm(183px); height: vwm(183px); bottom: vwm(190px); left: vwm(-43px);}
        &--2{width: vwm(98px); height: vwm(97px); right: vwm(-50px); top: vwm(205px);}
        &--3{width: vwm(157px); height: vwm(124px); right: vwm(25px); bottom: vwm(-70px);}
      }
    }
  }
  .testimonials{
    .slick-slide img{height: 220px;}
    .slick-dots{margin-top: 45px;}
    .cloud{
      &__item{
        &--1{width: vwm(139px); height: vwm(91px); left: vwm(-75px); top: vwm(162px);}
        &--2{width: vwm(149px); height: vwm(92px); left: vwm(110px); bottom: vwm(-25px);}
        &--3{width: vwm(96px); height: vwm(95px); right: vwm(135px); bottom: vwm(-100px);}
      }
    }
  }
  .offers{margin-top: 100px;}
  //uikit
  h2.title{font-size: 28px;}
}



.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#ffb840 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#000 1px,hsla(0,0%,82%,0) 0) !important; border-radius: 0;
  &:focus{outline: none; box-shadow: none;}
}
.effect_border{
  position: relative;
  label{
    position: absolute;
    margin: 0;
    font-size: 18px;
    color: var(--greyish);
    pointer-events: none;
    transition: all .3s ease;
    top: 1.3125rem;
    left: 0;
  }
  .form-control{
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: none;
    transition: background 0s ease-out;
    font-size: 14px;
    padding: .4375rem 0;
    border-radius: 0;
  }
  &.focus,&.filled{
    label{top: .4rem; font-size: .8875rem; color: #333;}
    .form-control{background-size: 100% 100%,100% 100%; transition-duration: 0.3s;}
  }
}


//animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@keyframes movie {
  0%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
  50%{
    opacity: 1;
    transform: translate3d(15px,0,0);
  }
  100%{
    opacity: .8;
    transform: translate3d(-15px,0,0);
  }
}
@-webkit-keyframes opacity {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}

@-webkit-keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}
@keyframes scroll {
  0%{
    opacity: 0.3;
    transform: translateY(5px);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .3;
    transform: translateY(5px);
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}