<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/jquery.fancybox-1.3.4.css" rel="stylesheet">
    <link href="./assets/css/style-summer.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/jquery.fancybox-1.3.4.pack.js"></script>
<script>
    $(document).ready(function () {
        $('.navbar-toggler').click(function () {
            $('header nav').toggleClass('active');
            $('.modal-menu').addClass('is-open');
        });
        $('.navbar-collapse .close,.modal-menu').click(function(){
            $('.navbar').removeClass('active');
            $('.modal-menu').removeClass('is-open');
        });

        $(window).on("load", function (e) {
            $(".navbar-nav .sub-menu").parent("li").append("<span class='show-menu'><i class='fas fa-sort-down'></i></span>");
            $('.loading').hide();
        });
        $('.navbar-nav > li').click(function () {
            $(this).toggleClass('active');
        });

        // js effect_border
        $('.effect_border').click(function () {
            $(this).toggleClass('focus');
        });
        $('.effect_border').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code === 9) {
                $('.effect_border').removeClass('focus');
                $(this).next().addClass('focus');
            }
        });
        var item_input = $('.effect_border .form-control');
        $(item_input).on('change', function () {
            if ($(this).val().length > 0) {
                $(this).parent().addClass('filled');
            } else {
                $(this).parent().removeClass('filled');
            }
        });

        $(document).mouseup(function (e) {
            var form_group = $('wrapper');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.effect_border,.select_b').removeClass('focus');
            }
        });

        // js slider
        $('.location__slider').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            dots: true,
            arrows: true
        });

        $('.testimonials__slider').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            dots: true,
            arrows: true,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        //js fancybox
        $("a[rel='img_testimonials']").fancybox({
            'transitionIn'	:	'elastic',
            'transitionOut'	:	'elastic',
            'speedIn'		:	600,
            'speedOut'		:	200,
            'overlayShow'	:	false
        });


        // effect navbar
        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) {
                $('.navbar').addClass('scroll');
            }else{
                $('.navbar').removeClass('scroll');
            }
        });

        $.fn.isInViewport = function() {
            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight() - 100;

            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height() - 100;

            return elementBottom > viewportTop && elementTop < viewportBottom;
        };
        $(window).on('resize scroll load', function() {
            $('.fadeup').each(function() {
                if ($(this).isInViewport()) {
                    $(this).addClass('fadeInUp').css({'opacity':'1','visibility':'visible'});
                }
            });
            $('.fadein').each(function() {
                if ($(this).isInViewport()) {
                    $(this).addClass('fadeIn').css({'opacity':'1','visibility':'visible'});
                }
            });
            $('.zoomin').each(function() {
                if ($(this).isInViewport()) {
                    $(this).addClass('zoomIn').css({'opacity':'1','visibility':'visible'});
                }
            });
            $('.fadeinleft').each(function() {
                if ($(this).isInViewport()) {
                    $(this).addClass('fadeInLeft').css({'opacity':'1','visibility':'visible'});
                }
            });
            $('.fadeinright').each(function() {
                if ($(this).isInViewport()) {
                    $(this).addClass('fadeInRight').css({'opacity':'1','visibility':'visible'});
                }
            });
        });
    });
</script>
</body>
</html>