<header>
    <nav class="navbar navbar-expand-lg">
        <a class="brand" href=""><img src="./assets/images/summer/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="navbar-nav">
                <li><a href="home.html" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:;" title="Services"><span>Services</span></a>
                    <ul class="sub-menu">
                        <li><a href="" title="Steamography">Steamography</a></li>
                        <li><a href="" title="Middle School">Middle School</a></li>
                        <li><a href="" title="High School">High School</a></li>
                        <li><a href="" title="Admissions Consulting">Admissions Consulting</a></li>
                        <li><a href="" title="International Kindergarten">International Kindergarten</a></li>
                    </ul>
                </li>
                <li><a href="results.html" title="Results"><span>Results</span></a></li>
                <li><a href="" title="Registration"><span>Registration</span></a></li>
                <li><a href="news.html" title="News"><span>News</span></a></li>
                <li><a href="creator-space.html" title="Careers"><span>Careers</span></a></li>
            </ul>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>
<main>
    <section class="section intro pr">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="summer_leader">
                        <h4 class="flex js-animation fadeup"><span>Summer Leader Camp</span></h4>
                        <p class="js-animation fadeup">With 10 years of extensive experience in children’s edutainment field, Play Curio focuses on providing integrated content with both online and offline methods. As the leading Ed-Tech provider in Vietnam, we, at </p>
                        <a href="#register" class="btn-view-more flex-center js-animation zoomin" title=""><span>Register</span></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="video js-animation fadein">
                        <iframe src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=1&unmute=1&loop=1&playlist=QV5EXOFcdrQ" frameborder="0" allow="" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="philosophy pr">
        <div class="container">
            <h2 class="title js-animation fadeup">Camp Leadership Philosophy</h2>
            <div class="philosophy__list row js-animation fadeup">
                <div class="col-lg-4 col-md-4">
                    <div class="item"></div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item"></div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item"></div>
                </div>
            </div>
            <div class="cloud">
                <div class="cloud__item cloud__item--1"></div>
                <div class="cloud__item cloud__item--2"></div>
                <div class="cloud__item cloud__item--3"></div>
                <div class="cloud__item cloud__item--4"></div>
            </div>
        </div>
    </section>
    <section class="differences pr">
        <div class="container">
            <h2 class="title js-animation fadeup">Differences</h2>
            <div class="differences__list row js-animation fadeup">
                <div class="col-lg-4 col-md-4 col-5">
                    <div class="icon"><img src="./assets/images/summer/icon1.png" alt=""></div>
                    <h4>Leadership</h4>
                    <p>Personal Growth
                        Others Focused
                        Community Outlook & Sustainable Change
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-7">
                    <div class="icon"><img src="./assets/images/summer/icon2.png" alt=""></div>
                    <h4>Academics</h4>
                    <p>Academic Research Methods & Writing
                        Entrepreneurship & Global Awareness
                        Critical Thinking & Problem Solving
                        Professional Presentation & Public Speaking
                        Academic & Leadership Vocabulary
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="icon"><img src="./assets/images/summer/icon3.png" alt=""></div>
                    <h4>Physical Fitness</h4>
                    <p>Daily Physical Training
                        Kayaking- Team Sports
                        Hiking
                        PA Physical Fitness Award
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="icon"><img src="./assets/images/summer/icon5.png" alt=""></div>
                    <h4>Skill building</h4>
                    <p>Farming
                        Archery
                        Kayaking
                        Team Sports
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="icon"><img src="./assets/images/summer/icon6.png" alt=""></div>
                    <h4>Camp Setting</h4>
                    <p>Surrounded by Nature
                        Technology Limited
                        (no cell phones allowed)
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="location">
        <div class="container">
            <h2 class="title js-animation fadeup">Camp Location</h2>
            <div class="location__slider js-animation fadeup">
                <div class="item">
                    <img src="./assets/images/summer/slider-demo.png" alt="">
                </div>
                <div class="item">
                    <img src="./assets/images/summer/slider-demo.png" alt="">
                </div>
            </div>
            <div class="cloud">
                <div class="cloud__item cloud__item--1"></div>
                <div class="cloud__item cloud__item--2"></div>
                <div class="cloud__item cloud__item--3"></div>
            </div>
        </div>
    </section>
    <section class="testimonials pr">
        <div class="container">
            <h2 class="title js-animation fadeup">Testimonials</h2>
            <div class="testimonials__slider js-animation fadeup">
                <div class="item"><a rel="img_testimonials" href="./assets/images/summer/test-demo.png"><img src="./assets/images/summer/test-demo.png" alt=""></a></div>
                <div class="item"><a rel="img_testimonials" href="./assets/images/summer/test-demo.png"><img src="./assets/images/summer/test-demo.png" alt=""></a></div>
                <div class="item"><a rel="img_testimonials" href="./assets/images/summer/test-demo.png"><img src="./assets/images/summer/test-demo.png" alt=""></a></div>
                <div class="item"><a rel="img_testimonials" href="./assets/images/summer/test-demo.png"><img src="./assets/images/summer/test-demo.png" alt=""></a></div>
            </div>
            <div class="cloud">
                <div class="cloud__item cloud__item--1"></div>
                <div class="cloud__item cloud__item--2"></div>
                <div class="cloud__item cloud__item--3"></div>
            </div>
        </div>
    </section>
    <section class="offers">
        <div class="container">
            <h2 class="title js-animation fadeup">Our Offers</h2>
            <div class="offers__img js-animation fadeup">
                <img src="./assets/images/summer/img-offer-demo.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="register" class="register">
        <div class="container">
            <div class="register js-animation fadeup">
                <h4>Cùng bắt đầu hành trình tại Point Avenue</h4>
                <form action="" method="">
                    <div class="form-row">
                        <div class="form-group effect_border col-md-4">
                            <label>Họ và tên phụ huynh</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                        <div class="form-group effect_border col-md-4">
                            <label>Số điện thoại phụ huynh</label>
                            <input class="form-control" type="number" name="name" required>
                        </div>
                        <div class="form-group effect_border col-md-4">
                            <label>Con học lớp ?</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                    </div>
                    <div class="form-group box-radio flex">
                        <label>Con có phải là học viên của Point Avenue Không ?</label>
                        <div class="radio-checkbox">
                            <label><input type="radio" name="qs"><span class="checked"></span> Có</label>
                        </div>
                        <div class="radio-checkbox">
                            <label><input type="radio" name="qs"><span class="checked"></span> Không</label>
                        </div>
                    </div>
                    <button type="button" class="btn_submit flex-center">Đăng ký</button>
                </form>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="inner flex">
            <div class="logo">
                <a href="" title=""><img src="./assets/images/logo.png" class="bg" alt=""></a>
            </div>
            <ul class="social flex">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
            </ul>
            <p class="copyright">Copyright Ⓒ 2019 Point Avenue</p>
        </div>
    </div>
</footer>